/* Sets the footer to below the content if the user has to scroll or at the bottom of the screen if there isn't much content*/
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

/* Modifies the horizontal lines at the top and bottom of the screen */
#site-divider{
  width: 95%;
  height: 3px;
  background-color: #999;
  border-radius: 3px;
}

/* Sets the phorem logo to black and to not change colour or be underlined when hovered over */
#home {
  text-decoration: none !important;
  color: #000 !important;
}

/* Styles the logout button */
#logout-button, #signup-button, #login-button{
  margin-top: 45px;
  background: #D4D4D4;
  border: none;
  outline: none;
  float: right;
  font-weight: 650;
  color: black;
  border-radius: 3px;
  height: 30px;
  width: 80px;
}

#login-submit-button, #register-button{
  background: #D4D4D4;
  border: none;
  outline: none;
  font-weight: 650;
  color: black;
  border-radius: 3px;
  height: 30px;
  width: 75px;
}

/* Styles the search bar and post input box to match previous posts */
#search-bar, #input-post{
  border: solid #555;
  border-radius: 10px;
  padding: 10px 10px 0px;
  width: 37.5%;
  margin: 0px auto;
}

/* Styles the search input boxes to remove resizing and wrap text onto new lines */
#search-text{
  overflow: hidden;
  width: 90%;
  height: 56px;
  padding-top: 0px;
  background: none;
  border: none;
  outline: none;
  resize: none;
}

#search-button{
  margin-top: -30px;
  margin-right: -5px;
  padding-top: 0px;
  background: #D4D4D4;
  border: none;
  outline: none;
  float: right;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  width: 60px;
}

#input-title{
  overflow: hidden;
  width: 99.5%;
  background: none;
  border: none;
  outline: none;
  resize: none;
  font-weight: 500;
}

#input-body{
  overflow: hidden;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0px 10px;
  resize: none;
}

#input-tags{
  margin-top: 13px;
  margin-bottom: -13px;
  overflow: hidden;
  width: 90%;
  background: none;
  border: none;
  outline: none;
  padding: 0px 10px;
  resize: none;
  vertical-align: bottom;
}

/* Styles the submit post button and places it in the bottom right corner */
#submit-button{
  margin-top: 18px;
  margin-right: -5px;
  padding-top: 0px;
  background: #D4D4D4;
  border: none;
  outline: none;
  float: right;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  width: 60px;
}

/* Syles each previous post */
#posts{
  /* Puts padding around the text*/
  padding: 0px 10px;
  /* Wraps text and keeps it in the box */
  overflow-wrap: break-word;
  border: solid #555;
  border-radius: 10px;
  width: 37.5%;
  margin: 0px auto;
  position: relative;
  z-index: 2;
}

#title{
  padding-top: 10px;
}

/* Modifies the horizontal line in each post */
#post-divider{
  height: 1px;
  background-color: #AAAAAA;
  border-radius: 1px;
}

#body{
  padding: 0px 10px;
}

/* Places the creator's name in the bottom right corner */
#author{
  text-align: right;
  padding-right: 9px;
  padding-bottom: 10px;
}

/* Places a delete post button at the bottom right corner of posts the user has made and styles it to look like the submit post button */
#delete-button{
  margin: -30px -5px;
  padding-top: 0px;
  background: #D4D4D4;
  border: none;
  outline: none;
  float: right;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  width: 60px;
}

#tags{
  font-weight: 650;
  color: black;
}

#comment-divider{
  width: 80px;
  height: 171px;
  border-left: solid #555;
  border-bottom: solid #555;
  border-radius: 0px 8px;
  margin: 0 auto;
  margin-top: -149px;
  position: relative;
  z-index: 1;
  right: 269px;
}

#comments{
  /* Puts padding around the text*/
  padding: 5px 10px;
  /* Wraps text and keeps it in the box */
  overflow-wrap: break-word;
  border: solid #555;
  border-radius: 10px;
  width: 37.5%;
  margin: 0 auto;
  margin-top: -22px;
  position: relative;
  left: 77px;
}

#comment-author{
  text-align: right;
  padding-right: 9px;
  padding-bottom: 4px;
}

#delete-comment-button{
  margin-top: -25px;
  margin-right: -5px;
  padding-top: 0px;
  background: #D4D4D4;
  border: none;
  outline: none;
  float: right;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  width: 60px;
}

#input-comment{
  overflow: hidden;
  width: 99%;
  background: none;
  border: none;
  outline: none;
  resize: none;
}

#submit-comment-button{
  margin-top: -25px;
  margin-right: -5px;
  padding-top: 0px;
  background: #D4D4D4;
  border: none;
  outline: none;
  float: right;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  width: 60px;
}

/* The @media queries modify the post and comment widths on smaller/zoomed in screens */
@media (max-width: 2500px) {
  #comment-divider{
    right: 307px;
  }
}

@media (max-width: 2000px) {
  #comment-divider{
    right: 269px;
  }
}

@media (max-width: 1800px) {
  #input-tags{
    width: 85%;
  }
  #comment-divider{
    right: 236px;
  }
  #search-text{
    height: 80px;
  }
}

@media (max-width: 1600px) {
  #input-tags{
    width: 85%;
  }
  #comment-divider{
    right: 198px;
    width: 77px;
  }
}

@media (max-width: 1300px) {
  #search-bar, #posts, #input-post, #comments {
    width: 45%;
  }
  #input-tags{
    width: 70%;
  }
  #comment-divider{
    right: 188.5px;
  }
}

@media (max-width: 1200px) {
  #search-bar, #posts, #input-post, #comments {
    width: 55%;
  }
  #comment-divider{
    right: 189px;
  }
 }

@media (max-width: 1000px) {
  #search-bar, #posts, #input-post, #comments {
    width: 65%;
  }
  #comment-divider{
    right: 186.5px;
  }
}

@media (max-width: 800px) {
  #search-bar, #posts, #input-post, #comments {
    width: 80%;
  }
  #comment-divider{
    right: 162px;
  }
}

@media (max-width: 700px) {
  #search-bar, #posts, #input-post, #comments {
    width: 100%;
  }
  #input-tags{
    height: 45px;
  }
  #comment-divider{
    right: 148.8px;
  }
}

/* Widths larger than 100% need to be centred by modifying the margin */
@media (max-width: 600px) {
  #search-bar, #posts, #input-post, #comments {
    width: 150%;
    margin-left: -50px;
  }
  #input-title{
    height: 60px;
  }
  #login-button{
    margin-right: -100px;
  }
  #comment-divider{
    right: 119.5px;
    height: 180px;
    margin-top: -158px;
  }
  
}

@media (max-width: 400px) {
  #search-bar, #posts, #input-post, #comments {
    width: 250%;
    margin-left: -90px;
  }
  #signup-button, #login-button{
    margin-right: -100px;
  }
  #comment-divider{
    right: 111.8px;
  }
  #search-text{
    height: 135px;
  }
}