/* Sets the footer to below the content if the user has to scroll or at the bottom of the screen if there isn't much content*/
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#site-divider{
  width: 95%;
  height: 3px;
  background-color: #999;
  border-radius: 3px;
}

/* Sets links to black and to not change colour or be underlined when hovered over */
a {
  text-decoration: none !important;
  color: #000 !important;
}

#posts{
  padding: 0px 10px;
  overflow-wrap: break-word;
  border: solid #777;
  border-radius: 10px;
  border-width: 3px;
  width: 37.5%;
  margin: 0px auto;
}

#title{
  padding-top: 10px;
}

#post-divider{
  height: 1px;
  background-color: #AAAAAA;
  border-radius: 100px;
}

#body{
  padding: 0px 10px;
}

#author{
  text-align: right;
  padding-bottom: 10px;
}