/* Sets the footer to below the content if the user has to scroll or at the bottom of the screen if there isn't much content*/
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

/* Modifies the horizontal lines at the top and bottom of the screen */
#site-divider{
  width: 95%;
  height: 3px;
  background-color: #999;
  border-radius: 3px;
}

/* Sets the phorem logo to black and to not change colour or be underlined when hovered over */
#home {
  text-decoration: none !important;
  color: #000 !important;
}

/* Styles the post input box to match previous posts */
#input-post{
  border: solid #555;
  border-radius: 10px;
  padding: 10px 10px 0px;
  width: 37.5%;
  margin: 0px auto;
}

/* Styles the title input box to remove resizing and wrap text onto new lines */
#input-title{
  overflow: hidden;
  width: 99.5%;
  background: none;
  border: none;
  outline: none;
  font-weight: 500;
  resize: none;
}

#input-body{
  overflow: hidden;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0px 10px;
  resize: none;
}

#input-tags{
  overflow: hidden;
  width: 90%;
  background: none;
  border: none;
  outline: none;
  padding: 0px 10px;
  resize: none;
  vertical-align: bottom;
}

/* Styles the submit post button and places it in the bottom right corner */
#submit-button{
  margin-top: 16px;
  margin-right: -3px;
  background: #D4D4D4;
  border: none;
  outline: none;
  float: right;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  width: 60px;
}

/* Syles each previous post */
#posts{
  /* Puts padding around the text*/
  padding: 0px 10px;
  /* Wraps text and keeps it in the box */
  overflow-wrap: break-word;
  border: solid #555;
  border-radius: 10px;
  width: 37.5%;
  margin: 0px auto;
}

#title{
  padding-top: 10px;
}

/* Modifies the horizontal line in each post */
#post-divider{
  height: 1px;
  background-color: #AAAAAA;
  border-radius: 1px;
}

#body{
  padding: 0px 10px;
}

/* Places the creator's name in the bottom right corner */
#author{
  text-align: right;
  padding-right: 9px;
  padding-bottom: 10px;
}

/* Places a delete post button at the bottom right corner of posts the user has made and styles it to look like the submit post button */
#delete-button{
  margin: -32px -3px;
  background: #D4D4D4;
  border: none;
  outline: none;
  float: right;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  width: 60px;
}

#tags{
  font-weight: 650;
  color: black;
}