<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Sets up basic attributes of the website -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sets the text displayed on the website tab -->
    <title>Phorems</title>
    <!-- Links to style.css, bootstrap, jquery and popper.js -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<!-- Adds padding of 30px on the left and right -->
<body class='Site' style="padding: 0px 30px;">
    <div class='row'>
        <div class='col-11'>
            <!-- Sets the title in display text -->
            <h1 class='display-3'><a id='home' href='/'>phorems.</a></h1>
        </div>
        <!-- Puts a logout button in the far right -->
        <form action="/logout">
            <input type="submit" id='logout-button' value="Log Out">
        </form>
    </div>
    <!-- Adds a horizontal line as a divider between the title and the bulk of the website -->
    <hr id='site-divider'>
    <br>

    <main class='Site-content' style='padding:0px 100px;'>
        <!-- Prints any errors if they exist -->
        {% if error %}
            <h3><p class='error' style='color: #000;text-align: center;'>{{ error }}</p></h3>
        {% endif %}

        <h2 style='text-align: center;color:black;'>Create Post</h2> <br>
        <!-- Allows the user to create a new post -->
        <div id='input-post'>
            <form action='/post/fail' method='POST' id='post'>
                <!-- Makes the title text bold and wraps the text -->
                <h4><textarea rows='1' maxlength="100" placeholder='Enter Title (max 100 characters)' name='title' id='input-title' form='post' oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea></h4>
                <hr id='post-divider'>
                <!-- Wraps the body text -->
                <textarea rows='1' maxlength='1000' placeholder='Enter Body Text (max 1000 characters)' name='post' id='input-body' form='post' oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                <textarea rows='1' placeholder='Tags (optional, separate by space)' name='tags' id='input-tags' form='post' oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                <input type='submit' value='Post' id='submit-button'> <br>
            </form> <br>
        </div> <br>

        <br> <h2 style='text-align: center;color:black;'>Recent Activity</h2> <br>

        <!-- Lists each previous post -->
        {% if posts %}
            {% for post, author in posts %}
                <div id='posts'>
                    <!-- Post's title -->
                    <div id='title'> <h4>
                        {{ post.title }} 
                    </h4></div>
                    <!-- Line break -->
                    <hr id='post-divider'>
                    <!-- Post's body text (and tags if applicable) -->
                    <div id='body'>
                        {{ post.body }} 
                        <!-- Checks if the post has any tags -->
                        {% if post.tag %}
                            <!-- Adds a dash in bold to separate the body text from the tags-->
                            <strong>- </strong>
                            <!-- Adds tags onto the end of the body text in bold and formats them into a list -->
                            {% for tag in post.tag.split(' ')[:-1] %}
                                <input type='hidden' name='tag_id' value='{{ tag }}'>
                                <a id='tags' href='/filter-by-{{ tag }}'>{{ tag }}</a><strong>,</strong>
                            {% endfor %}
                            <!-- Adds the last tag on without a comma afterward -->
                            <a id='tags' href="/filter-by-{{ post.tag.split(' ')[-1] }}">{{ post.tag.split(' ')[-1] }}</a>
                        {% endif %}
                    </div>
                    <!-- Post's creator -->
                    <div id='author'>
                        <i>By: <strong>{{ author }}</strong> </i>
                    </div>
                    <!-- Checks if the post was created by the user that logged in -->
                    {% if post.author == user_id %}
                        <br>
                        <!-- Allows users to delete their own posts -->
                        <div id='delete'>
                            <form action='/delete' method='POST' onSubmit="return confirm('Are you sure?');">
                                <input type='hidden' name='post_id' value='{{ post.id }}'>
                                <input type='submit' id='delete-button' value='Delete'>
                            </form>
                        </div>
                    {% endif %}
                </div> <br>

                <!-- Checks if the post has any comments -->
                {% if post.comment %}
                    <!-- Gets all of the comments on the post -->
                    {% for comment in comments %}
                        <!-- Prints all comments under each post if they exist -->
                        {% if comment[0].id in post.comment %}
                            <div id='comment-divider'></div>
                            <div id='comments'>
                                {{ comment[0].body }}
                                <!-- Prints the code used in the comment if added -->
                                {% if comment[0].code %}
                                    {{ comment[0].code }}
                                {% endif %}
                                <div id='comment-author'>
                                    <!-- Prints the author of the comment -->
                                    <i>By: <strong>{{ comment[1] }}</strong> </i>
                                </div>
                            </div> <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                <div id='comment-divider'></div>
                <div id='comments'>
                    <form action='/comment/fail' method='POST' id='add-comment-to-{{ post.id }}'>
                        <textarea rows='1' maxlength='200' placeholder='Enter Comment (max 200 characters)' name='text' id='input-comment' form='add-comment-to-{{ post.id }}' oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea> 
                        <br> <br>
                        <input type='hidden' name='post_id' value='{{ post.id }}'>
                        <input type='submit' value='Post' id='submit-comment-button'>
                    </form>
                </div> <br>
            {% endfor %}
        {% endif %}
    </main>

    <footer style='padding: 30px 0px; text-align: center;'>
        <!-- Adds a horizontal line as a divider between the bulk of the website and the footer -->
        <hr id='site-divider'>
        <!-- Sets the copyright text -->
        &copy Leo Black 2021
    </footer>
</body>
</html>